{% extends "base.html" %}

{% block content %}

<h1>Get in touch</h1>
<div class="bottom-paragraph height-adjust">
    <p>
        Have a project for me, or just want to say hii?<br>
        Feel free to email me at iamsagarsangwan@gmail.com<br>
        <b></b>contact number = 7015470897</b><br>
        Or use the form below
    </p>


    <form class="row" method="POST" action="">
        <div class="col">
            <input type="text" name="name" required class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
            <input type="email" name="email" required class="form-control" placeholder="Your email" aria-label="your email">
        </div><br> <br><br>
        <div class="form-floating">
            <input class="form-control" type="text" name="message" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height: 100px"></input>
            <label for="floatingTextarea2">Leave comments here</label>
        </div>

    <br>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    </form>

</div>


{% endblock %}