{% extends "base.html" %}

{% block content %}


<form method="POST" class="row mb-5" action="/timeline">
    <div class="col-12">
        <h1 class="padding-bottom-small">Add Work Entry For Today</h1>

    </div>
    <div class="col-12 padding-bottom-small">
        <input type="text" name="title" required class="form-control input-feild-shadow" placeholder="title"
            aria-label="title">
    </div>
    <div class="col-12 padding-bottom-small">
        <select name="record_type" class="form-select input-feild-shadow" aria-label="Default select example">
            <option selected value="default">default</option>
            <option value="bug">bug</option>
            <option value="feature">feature</option>
            <option value="docs">docs</option>
            <option value="random">random</option>
            <option value="fire">fire</option>
            <option value="achievment">achievment</option>


        </select>
    </div>
    <div class="col-12 padding-bottom-small">
        <input type="text" name="image_link" required class="form-control input-feild-shadow" placeholder="image-link"
            aria-label="image-link">
    </div>
    <div class="col-12 padding-bottom-small">
        <textarea rows="4" class="form-control input-feild-shadow" placeholder="what have you achieved today?"
            name="description"></textarea>
    </div>
    <div class="col-12">
        <button class="btn btn-dark input-feild-shadow" type="submit">Submit</button>
        <i>{{info}}</i>

    </div>
</form>
<div class="row height-adjust">
    <div class="col">
        <h1 class="padding-bottom-small">Messages</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">User name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                {% for row in value %}
                <tr>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include "components/footer.html" %}
{% endblock %}