{% extends "base.html" %}

{% block content %}

<form class="row height-adjust" method="POST" action="/dashboard">
    <div class="col">
        <input type="text" name="username" required class="form-control" placeholder="enter user name"
            aria-label="First name">
    </div>
    <div class="col">
        <input  name="password" required class="form-control" placeholder="enter password"
            aria-label="your email">
    </div><br> <br><br>


    <br>
    <div class="col-12">
        <button class="btn btn-primary" type="submit" value="Login">Submit</button>
    </div>
</form>

<h1>{{info}}</h1>

{% endblock %}