{% extends "base.html" %}

{% block content %}
<div class="row height-adjust ">
    <div class="col">
        <div class="row">
            <div class="col-xs-12 col-md-6 padding-bottom-medium">
                <img src="static/sagar.jpg" class="img-thumbnail">
            </div>
            <div class="col-xs-12 col-md-6 text-center align-self-center">
                <p>
                <h2> Hi there, I am <b>Sagar.</b> </h2><br />
                <h2> I don't know what I am doing, but I love python 🐍</h2>
                </p>
            </div>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-8 padding-bio">
            <p>
                My name is Sagar Sangwan. I am a fullstack developer😜.
                I love to make complex things simple and joy to use.
            </p>
            <div class="col-8">
                <p>
                </p>
            </div>
        </div>

    </div>
</div>

<div class="row height-adjust justify-content-center">
    <div class="col">

        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-8">
                <h1>Technical skill set </h1><br>
                <p>
                    I am constantly learning and keep up to date with the latest<br>
                    technologies , so i can pick the best tech for the job
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-4 col-padding ">
                <h5> <i class="fab fa-python"></i> Python</h5>
                <p>
                    Python is my lost soul
                    I am nothing without python
                </p>
            </div>
            <div class="col-xs-12 col-md-4 col-padding">

                <h5> <i class="fab fa-css3-alt"></i> Html/Css</h5>
                <p>Html full form is "Hyper Text Markup Language"
                    there is nothing intersting in HTML and CSS</p>
            </div>
        </div>

        <div class="row justify-content-center ">
            <div class="col-xs-12 col-md-4 col-padding">
                <h5> <i class="fas fa-pepper-hot"></i> Flask</h5>
                <p>
                    I like flask too because,
                    i have to write in python
                </p>
            </div>
            <div class="col-xs-12 col-md-4 col-padding">
                <h5><i class="fab fa-bootstrap"></i> Bootstrap</h5>
                <p>It is a funny library because
                    it make my website go owuaa owuaa
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row height-adjust justify-content-center">
    <div class="col">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-8">
                <h1>Projects</h1> <br>
                <p>
                    Some of my projects created using python
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-9 col-lg-4 col-padding">
                <div class="card">                  
                    <div class="card-body">
                      <h5 class="card-title">Dictionary</h5>
                      <p class="card-text"> Search a word in english and  find their meaning by this Projects</p>
                      <a href="/dictionary" class="btn btn-primary">Explore</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-xs-12 col-md-8">
        <p class="quotes-container">
            "Always code as if the person who ends up maintaining your code will be a violent psychopath who knows where
            you live"
        </p>
    </div>
</div>

{% endblock %}