{% extends "base.html" %}

{% block content %}
<div class="row height-adjust">
    <div class="row">
        <div class="col">
            <img src="static/cover.jpg" class="img-fluid ">
        </div>
        <div class="col">
            <p>
            <h2> Hi there, I am Sagar. </h2><br />
            <h2> I don't know what I am doing, but I love python 🐍</h2>
            </p>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-8">
            <p>
                My name is Sagar Sangwan. I am a fullstack developer😜.
                I love to make complex things simple and joy to use.
            </p>
            <div class="col-8">
                <p>
                </p>
            </div>
        </div>

    </div>
</div>

<div class="row height-adjust justify-content-center">
    <div class="col">

        <div class="row justify-content-center">
            <div class="col-8">
                <h1>Technical skill set </h1><br>
            <p>
                I am constantly learning and keep up to date with the latest<br>
                technologies , so i can pick the best tech for the job
            </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 ">
                <h5> <i class="fab fa-python"></i> Python</h5>
                <p>
                    Python is my lost soul <br> 
                    I am nothing without python <br>
                </p>
            </div>
            <div class="col-4">
    
                <h5> <i class="fab fa-css3-alt"></i> Html/Css</h5>
                <p>Html full form is "Hyper Text Markup Language" <br>
                    there is nothing intersting in html and css</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <h5> <i class="fas fa-pepper-hot"></i>Python/Flask</h5>
                <p>
                    I like flask too because, <br>
                     i have to write in python<br>
                </p>
            </div>
            <div class="col-4">
                <h5><i class="fab fa-bootstrap"></i>Bootstrap</h5>
                <p>It is a funny library because <br>
                     it make my website go owuaa owuaa
                </p>
            </div>
    
        </div>
    </div>

</div>
<div class="row justify-content-center">
    <div class="col-8 ">
     <p class="quotes-container">
        "Always code as if the person who ends up maintaining your code will be a violent psychopath who knows where you live"
     </p>
    </div>
</div>

{% endblock %}