{% extends "base.html" %}

{% block content %}
<div class="row height-adjust ">
    <div class="col">
        <div class="row">
            <div class="col-xs-12 col-md-6 padding-bottom-medium">
                <img src="static/sagar.jpg" class="img-thumbnail">
            </div>
            <div class="col-xs-12 col-md-6 text-center align-self-center">
                <p>
                <h2> Hi there 👋 I am <b>Sagar.</b> </h2><br />
                <h2> I don't know what I am doing, but I love python 🐍</h2>
                </p>
            </div>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-8 padding-paragraph">
            <p>
                I am a fullstack developer😜.
                I love to make complex things simple and joy to use.
            </p>
            <div class="col-8">
                <p>
                </p>
            </div>
        </div>

    </div>
</div>
<div class="row height-adjust justify-content-center pt-5 border-radius-2 footer">
    <div class="col">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-8">
                <h1>Technical Skills</h1><br>
                <p>
                    I am constantly learning and keep up to date with the latest<br>
                    technologies , so i can pick the best tech for the job
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-4 col-padding ">
                <h5> <i class="fab fa-python"></i> Python</h5>
                <p>
                    Python is my lost soul
                    I am nothing without python
                </p>
            </div>
            <div class="col-xs-12 col-md-4 col-padding">

                <h5> <i class="fab fa-css3-alt"></i> Html/Css</h5>
                <p>Html full form is "Hyper Text Markup Language"
                    there is nothing intersting in HTML and CSS</p>
            </div>
        </div>

        <div class="row justify-content-center ">
            <div class="col-xs-12 col-md-4 col-padding">
                <h5> <i class="fas fa-pepper-hot"></i> Flask</h5>
                <p>
                    I like flask too because,
                    i have to write in python
                </p>
            </div>
            <div class="col-xs-12 col-md-4 col-padding">
                <h5><i class="fab fa-bootstrap"></i> Bootstrap</h5>
                <p>It is a funny library because
                    it make my website go owuaa owuaa
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-4 col-padding">
                <h5><i class="fas fa-database"></i> MySQL</h5>
                <p>Mysql is faster than other database<br>
                    So i am using it
                </p>
            </div>
            <div class="col-xs-12 col-md-4 col-padding">

                <h5><img src="/static/jinja.svg" width="24"> jinja2</h5>
                <p>
                    Jinja is flask's default template engine<br>
                    I am using it to make my website dynamic and easy to use <br>

                </p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-4 col-padding">

                <h5><img src="/static/icons8-heroku.svg" width="24">Heroku</h5>
                <p>
                    Heroku is a cloud service that makes deployment of web apps easy
                    I am using it to deploy my website
                </p>
            </div>
            <div class="col-xs-12 col-md-4 col-padding">
                <h5><img src="static/icons8-web-scraper-48.png" width="24"> Web Scraping</h5>
                <p>
                    I am using web scraping to get data from websites
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-4 col-padding">

                <h5><i class="fab fa-github"></i> Github</h5>
                <p>
                    Github is a platform for version control of code
                    I am using it to share my code with the world
                </p>
            </div>
            <div class="col-xs-12 col-md-4 col-padding padding-bottom-medium">
                <h5><i class="fas fa-gamepad"></i> Pygame</h5>
                <p>
                    Pygame is a library that makes games
                    I am using it to make games and make them fun
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row pt-5 height-adjust mt-5 justify-content-center">
    <div class="col">
        <div class="row">
            <div class="col-xs-12 col-md-6 padding-bottom-medium">
                <img src="/static/Group_3_auto_x1.png" class="project-thumbnail">
            </div>
            <div class="col-xs-12 col-md-6 ">
                <p>
                <h2> Last Night Paper</h2>
                <p>Provides a portal for searching and downloading study materials for various graduation courses.</p>
                </p>
                <ul class="text-start">
                    <li>Scrape data from various existing websites
                    </li>
                    <li>Store data files in google drive</li>
                    <li>Store data information, google drive read only links and data relationships in MySQL database
                    </li>
                    <li>Provides dashboard for data and feedbacks management
                    </li>
                </ul>
                <div class="mt-5">
                    <a href="https://lastnightpaper.herokuapp.com/" target="blank" class="btn button btn-dark">Visit
                        site</a>
                    <a href="https://github.com/sagarsangwan/student-portal" target="blank"
                        class="btn mx-5 button btn-dark">Source
                        Code</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row justify-content-center">
    <div class="col-xs-12 col-md-9 col-lg-4 col-padding">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dictionary</h5>
                <p class="card-text"> Search a word in english and find their meaning </p>
                <a href="/dictionary" class="btn button btn-dark">Explore</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-9 col-lg-4 col-padding">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Space Shootter Game</h5>
                <p class="card-text"> Currently working on a 2D game created using Pygame</p>
                <a href="https://github.com/sagarsangwan/space-shootter-game" class="btn button btn-dark">Source
                    Code</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- <div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-8">
            <p class="quotes-container">
                "Always code as if the person who ends up maintaining your code will be a violent psychopath who knows
                where
                you live"
            </p>
        </div>
    </div>
</div> -->
<footer class="container top-margin">
    <div class="row pt-5 px-5 border-radius-2 footer">
        <div class="col-xs-12 col-md-6">
            <div class="row">
                <h1 class="col-xs-12">Hire Me !!!</h1>
                <div class="col-12">
                    <p>
                        Have a project for me, or just want to say hii?
                        <br />
                        Feel free to email me: <a href="mailto:iamsagarsangwan@gmail.com">iamsagarsangwan@gmail.com</a>
                        <br> or call: <a href="tel:7015470897">7015470897</a></b><br> <br>
                        <a class="links" target="blank" href="https://github.com/sagarsangwan"> <i
                                class="fab fa-github"></i> Github </a> <br>
                        <a class="links" target="_blank"
                            href="https://docs.google.com/document/d/1QUCcYkhGv8y5gVbP9F_GwQzZ1z4gcVEg_UIRei06MQE/edit?usp=sharing"><i
                                class="fas fa-file"></i> Resume</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 ">
            <div class="rowd-flex justify-content-end">
                <form method="POST" action="">

                    <div class="col-12 padding-bottom-small">
                        <input type="text" name="user_name" required class="form-control input-feild-shadow"
                            placeholder="First name" aria-label="First name">
                    </div>
                    <div class="col-12 padding-bottom-small">
                        <input type="email" name="email" required class="input-feild-shadow form-control"
                            placeholder="Your email" aria-label="your email">
                    </div>
                    <div class="col-12 padding-bottom-small">
                        <textarea rows="4" class="form-control input-feild-shadow" placeholder="Leave message here"
                            name="message"></textarea>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-dark input-feild-shadow" type="submit">Submit</button>
                        <i>{{info}}</i>

                    </div>
                </form>
            </div>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <ul class="list-unstyled list-inline text-center social-media-icons">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/iamsagarsangwan/" target="_blank"
                                class="btn-floating btn-lg btn-fb" type="button" role="button"><i
                                    class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/sagar_sangwan01?t=SLoQDBtPPv-blDdL6NwOaw&s=08" target="_blank"
                                class="btn-floating btn-lg btn-tw" type="button" role="button"><i
                                    class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/iamsagarsangwan/" target="_blank"
                                class="btn-floating btn-lg btn-li" type="button" role="button"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/iamsagarsangwan/" target="_blank"
                                class="btn-floating btn-lg btn-ins" type="button" role="button"><i
                                    class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/sagarsangwan" target="_blank"
                                class="btn-floating btn-lg btn-git" type="button" role="button"><i
                                    class="fab fa-github"></i></a>
                        </li>
                        <li>
                            <div>Designed and developed with ❤️ by me.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="footer-copyright text-center py-3">© 2022 Copyright:
                <a class="no-underline" href="/">sagarsangwan</a>
            </div>
        </div>
    </div>
</div>



{% endblock %}