{% extends "base.html" %}
{% block content %}
<style>
    .timeline-body {
        border-left: 2px solid #646669;
        margin: 60px auto;
        width: 80%;
        padding: 0px 16px;
    }

    .timeline-card {
        margin-bottom: 32px;
        margin-left: 18px;
        position: relative;
    }

    .timeline-heading {
        display: flex;
        justify-content: space-between;
    }

    div.timeline-card:before {
        content: '🧐';
        display: block;
        width: auto;
        height: auto;
        border: solid 4px white;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        top: 9px;
        left: -49px;
    }

    div.timeline-card.emoji-bug::before {
        content: "🐞";
    }

    div.timeline-card.emoji-feature::before {
        content: "🚀";
    }

    div.timeline-card.emoji-docs::before {
        content: "📔";
    }

    div.timeline-card.emoji-random::before {
        content: "💩";
    }

    div.timeline-card.emoji-fire::before {
        content: "🔥";
    }

    div.timeline-card.emoji-fire::before {
        content: "🔥";
    }


    /* div.timeline-card::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent rgb(10, 10, 10) transparent transparent;
        border-width: 8px;
        position: absolute;
        left: -17px;
        top: 10px;
    } */
</style>
<div class="timeline-heading mt-5">
    <h2 class="card-title">Work Progress</h2>
    <a class="btn btn-dark input-feild-shadow" href="/dashboard">Create New Post</a>
</div>
<section class="timeline-body">
    {% for i in records %}
    <div class="timeline-card emoji-{{i.record_type}} ">
        <div class="card-body">
            <div class="timeline-heading">

                <h6 class="card-title">{{i.title}} </h6>
                <span>{{i.date}} </span>
            </div>
            <ul>
                {% for j in i.description %}
                <li>{{j}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</section>
{% include"components/footer.html" %}
{% endblock %}