.header-container{
    padding-top: 32px;
    padding-bottom: 32px;
}


.text-align{
    text-align: center;
}


.navbar{
    background-color: brown;
    padding: 16px 16px 16px 16px;
    
}

.navbar a {
    float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}