{% extends "base.html" %}

{% block content %}

<body>

    
    <div class="container">
        <div class="row header-container">
            <div class="col">
                <img src="static/cover.jpg" class="img-fluid ">
            </div>
            <div class="col">
                <p>
                    Hi there, I am Sagar.<br />
                    I don't know what I am doing, but I love python 🐍
                </p>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 ">
                <p>
                    My name is Sagar Sangwan. I am a frontend developer.
                    I love to make complex things simple and joy to use.
                    Currently, I focous on building single page applications with React and Ember
                </p>
                <div class="col-8">
                    <p>
                        Over the past 2 years I have wasted time.

                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="container text">
        <h1>Get in touch</h1>
        <div class="bottom-paragraph">
            <p>
                Have a project for me, or just want to say hii?<br>
                Feel free to email me at iamsagarsangwan@gmail.com<br>
                Or use the form below
            </p>
        </div>
        <form class="bottom-form">
            <input type="name" placeholder="Name">
            <input type="email" placeholder="Email"><br><br>
            <input type="text" placeholder="Your message"><br><br>
            <input type="submit" placeholder="submit">
        </form>

    </div>
    <footer>
        <div class="bottom-bar">
            <h6>Designed and developed by Sagar Sangwan</h4>

        </div>
    </footer>

</body>



{% endblock %}