{% extends "base.html" %}

{% block content %}

<body>
   
    

    <div class="container">
        <div class="row header-container">
            <div class="col">
                <img src="static/cover.jpg" class="img-fluid ">
            </div>
            <div class="col">
                <p>
                    Hi there, I am Sagar.<br />
                    I don't know what I am doing, but I love python 🐍
                </p>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 ">
                <p>
                    My name is Sagar Sangwan. I am a fullstack developer😜.
                    I love to make complex things simple and joy to use.
                    
                    
                </p>
                <div class="col-8">
                    <p>
                        

                    </p>
                </div>
            </div>
        </div>
        

    
</body>



{% endblock %}