<footer class="page-footer font-small special-color-dark pt-4">


    <div class="container footer">
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/iamsagarsangwan/" target="_blank" class="btn-floating btn-lg btn-fb"
                    type="button" role="button"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/sagar_sangwan01?t=SLoQDBtPPv-blDdL6NwOaw&s=08" target="_blank"
                    class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/iamsagarsangwan/" target="_blank"
                    class="btn-floating btn-lg btn-li" type="button" role="button"><i
                        class="fab fa-linkedin-in"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.instagram.com/iamsagarsangwan/" target="_blank" class="btn-floating btn-lg btn-ins"
                    type="button" role="button"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/sagarsangwan" target="_blank" class="btn-floating btn-lg btn-git"
                    type="button" role="button"><i class="fab fa-github"></i></a>
            </li>
            <li>
                <div>designed and developed by sagar Sangwan</div>
            </li>
            <li>
                <div class="footer-copyright text-center py-3">© 2022 Copyright:
                    <a class="no-underline" href="/">sagarsangwan</a>
                </div>
            </li>
        </ul>
    </div>

</footer>